* {
    padding: 0;
    margin: 0;
}
body {
    background:green;
}
.container {
    width: 1300px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
  /* .swiper {
    width: 600px;
    height: 300px;
  }
  .swiper-button-prev {
    background: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .swiper-button-prev::after {
    content: "";
    background: url(../img/chevron-double-left.svg) no-repeat center/cover;
    width: 40px;
    height: 40px; */
  
  }
  .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
